<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mj.provider.user.dao.UserMapper" >
	<resultMap type="com.mj.provider.user.entity.User" id="userInfo">
		<result column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
	</resultMap>
	<select id="getUserByID" parameterType="int" resultType="com.mj.provider.user.entity.User">
		select id,name,sex from user where id =#{id}
	</select>
</mapper>